@charset "UTF-8";
*{
	font-family: Palatino, serif;
}

body {
	background-color: white;
	margin: 0;
}
#wrapper {
	width: 1024px;
	margin: 0 auto;
	position: relative;  
}

#logoholder {
	float: left;
	display: block;
	position: relative;
	width: 470px;
	height: 100%;
}


#logo {
	width: 300px;
	height: 300px;
	position: absolute;
	background: none;
	top: 84px;
	left: 76px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	transform: rotate(-45deg); 
}

#logotext {
	position: absolute;
	top: 380px;
	width: 100%;
	text-align: center;
	font-size: 50px;
	letter-spacing: 20px;
	text-transform:uppercase;
}

#copy {
	float: left;
	display: block;
	width: 550px;
	font-size: 18px;
	position: relative;
	top: 50px;
	line-height: 24px;
	text-align: justify;;
}

#login {
	background-color: white;
	position: absolute;
	display: block;
	width: 100%;
	top: -33px;
	left: 0px;
}

label {
	padding-left: 15px;
	padding-right: 15px;
}

#pulldown {
	display: block;
	float: right;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
	background: #3c3c3c;
	position: relative;
	top: -2px;
	padding-top: 3px;
	padding-bottom: 3px;
	box-shadow: 3px 3px 2px 2px #ccc;
	color: white;
	cursor: pointer;
}

#loginform {
	margin: 0px;
	height: 30px;
	box-shadow: 3px 3px 2px 2px #ccc;
	background: #3c3c3c;
	color: white;
	padding-top: 3px;
}

#login .button {
	background-color: white;
	font-size: 15px;
	border: 1px solid black;
}

#login #pulldown {
	text-align: right;
}


.square {
	width: 19%;
	height: 19%;
	display: block;
	background-color: black;
	position: absolute;
	-webkit-transition: -webkit-transform 1.0s, background-color 1.0s;
	transition: transform 0.3s, background-color 0.3s;
}

.square:hover{
	background-color: grey;
	-ms-transform: rotate3d(0.5,-0.5,0,90deg);  
	-webkit-transform: rotate3d(0.5,-0.5,0,90deg); 
	transform: rotate3d(0.5,-0.5,0,90deg); 
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transition: -webkit-transform 0.2s, background-color 0.2s;
}


#square1 {
	top: 0%;
	left: 0%;
}
#square2 {
	top: 0%;
	left: 20%;
}
#square3 {
	top: 0%;
	left: 40%;
}
#square4 {
	top: 0%;
	left: 60%;
}
#square5 {
	top: 20%;
	left: 0%;
}
#square6 {
	top: 20%;
	left: 20%;
}
#square7 {
	top: 20%;
	left: 40%;
}
#square8 {
	top: 20%;
	left: 60%;
}
#square9 {
	top: 20%;
	left: 80%;
}
#square10 {
	top: 40%;
	left: 20%;
}
#square11 {
	top: 40%;
	left: 40%;
}
#square12 {
	top: 40%;
	left: 60%;
}
#square13 {
	top: 40%;
	left: 80%;
}
#square14 {
	top: 60%;
	left: 20%;
}
#square15 {
	top: 60%;
	left: 40%;
}
#square16 {
	top: 60%;
	left: 60%;
}
#square17 {
	top: 60%;
	left: 80%;
}
#square18 {
	top: 80%;
	left: 60%;
}
#square19 {
	top: 80%;
	left: 80%;
}


