td, p, ul, textarea, button, optgroup, option { 
font-family: Lucida Grande, Arial, Helvetica, sans-serif; 
font-size: 12px; 
color: #000000; 
 }

input, select { 
font-family: Lucida Grande, Arial, Helvetica, sans-serif; 
font-size: 12px; 
color: #000000; 
border: 1px solid;
border-top-color:#4488BB;
border-left-color:#4488BB;
border-right-color:#4488BB;
border-bottom-color:#4488BB;
 }

select.list { width: 700px; border: 1px solid;}
div.scrolltable { 
  left: 0px;
//  position: absolute;
  height: 550px; 
  overflow: auto; 
  width: 700px; 
} 

div.dataview {
 position: relative;
 height: 550px;
}

#actions { position: absolute;
top: 0px;
right: 0px;
}

body { 
font-family: Lucida Grande, Arial, Helvetica, sans-serif; 
font-size: 12px; 
color: #000000;
background-color: #ffffff;
text-align: center; 
 }

* { 
margin:0px; 
padding:0px; 
border: 1px; 

}

#container {
	margin: 0px auto;
	text-align: center;
	width: 900px;
}

#header {
	width: 900px;
	height: 96px;
	margin: 0px auto;
	border: 0px;
	padding: 0px;
	background: url('images/mozaicheader.jpg') no-repeat top center;
}

#menu {
	text-align: justify;
	margin: 0px auto;
	border: 0px;
	padding: 0px;
	background: #758e98; 
	width: 900px;
}

#main {
	text-align: justify;
	margin: 00px auto;
	border: 0px;
	padding: 7px;
	background: #A0BBC6; 
	width: 886px;
	min-height: 545px;
}

#main2 {
	text-align: justify;
	margin: 00px auto;
	border: 0px;
	padding: 7px;
	background: #A0BBC6; 
	width: 886px;
	min-height: 545px;
}

p.main2 { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 20px; 
color: #000000; 
 }


#footer {
	height: 20px;
	width: 900px;
	margin: 0px auto;
	border: 0px;
	padding: 0px;
	background: url('images/mozaicfooter.jpg') no-repeat bottom center;
}

.aspect { padding: 2px 2px 2px 2px; }



.login {
	font-size: 10px;
	color: #00000;
}

.error {
	color: #ff0000;
}


#content {
	margin: 0px auto;
	width: 880px;
	background-color: #A0BBC6;
	text-align: left;
}

.prop {
    height:500px;
    float:right;
    width:1px;
  }

.clear {
    clear:both;
    height:1px;
    overflow:hidden;
  }

input.submit { width: 200px;
	 background: #8CA9B5; 
	border:1px solid;
   border-top-color:#0;
   border-left-color:#0;
   border-right-color:#0;
   border-bottom-color:#0; }



input[disabled].submit{background: #8CA9B5;
				color:#4488BB;
				border:1px solid;
			   border-top-color:#0;
			   border-left-color:#0;
			   border-right-color:#0;
			   border-bottom-color:#0;}

select[disabled]{background: #8CA9B5;
				color:#4488BB;
				border:1px solid;
			   border-top-color:#0;
			   border-left-color:#0;
			   border-right-color:#0;
			   border-bottom-color:#0;}



table.spreadsheet2 { background: #FFFFFF; border: 1px solid; border-spacing: 2px; width: 100%; border-color: #333333;}
table.preview { border: 1px solid; width: 100%; rules: all; }
td.preview { border: 1px solid; }

th { text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background: #cccccc;}
tr.odd td { background: #e0e0e0; }
tr.selected td { background: #808080; }

table.spreadsheet { background: #FFFFFF; border: 1px solid; border-spacing: 0px; }
table.previewpane { background: #A0BBC6; width: 180px; border: 1px solid; }
table.mail { background: #FFFFFF; width: 85%; border: 1px solid; border-spacing: 1 px; }

input.submit:hover { width: 200px;
	 background: #8CA9B5; 
				color:#224499;
	border:1px solid;
   border-top-color:#0;
   border-left-color:#0;
   border-right-color:#0;
   border-bottom-color:#0; }
   


input[disabled].submit:hover{background: #8CA9B5;
				color:#4488BB;
				border:1px solid;
			   border-top-color:#0;
			   border-left-color:#0;
			   border-right-color:#0;
			   border-bottom-color:#0;}

button.tabnav { 
	text-align: left;
	width: 100%;
	color:#000000;
	font-size: 12px;
	 background: #8CA9B5; 
	border:2px solid;
   border-top-color:#758e98;
   border-left-color:#758e98;
   border-right-color:#758e98;
   border-bottom-color:#8CA9B5; }

button[disabled].tabnav{
				text-align: left;
				width: 100%;
				background: #A0BBC6;
				color:#000000;
				border:2px solid;
			   border-top-color:#758e98;
			   border-left-color:#758e98;
			   border-right-color:#758e98;
			   border-bottom-color:#A0BBC6;}

button[disabled].tabnav:hover{
				text-align: left;
				width: 100%;
				background: #A0BBC6;
				color:#000000;
				border:2px solid;
			   border-top-color:#758e98;
			   border-left-color:#758e98;
			   border-right-color:#758e98;
			   border-bottom-color:#A0BBC6;}

button.tabnav:hover{
	text-align: left;
	width: 100%;
	 background: #6698B0; 
	color:#000000;
	border:2px solid;
   border-top-color:#758e98;
   border-left-color:#758e98;
   border-right-color:#758e98;
   border-bottom-color:#6698B0;}


input.submitsmall { 
	text-align: center;
	 background: #4488BB; 
	border:1px solid;
   border-top-color:#0;
   border-left-color:#0;
   border-right-color:#0;
   border-bottom-color:#0; }

input.login { 
	text-align: center;
	 background: #8CA9B5; 
	border:1px solid;
   border-top-color:#0;
   border-left-color:#0;
   border-right-color:#0;
   border-bottom-color:#0; }

input.login:hover { 
	text-align: center;
	 background: #6698B0; 
	border:1px solid;
   border-top-color:#0;
   border-left-color:#0;
   border-right-color:#0;
   border-bottom-color:#0; }

input[disabled].submitsmall{
	background: #66AADD;
	text-align: center;
	color:#4488BB;
	border:1px solid;
	  border-top-color:#0;
	  border-left-color:#0;
	  border-right-color:#0;
	  border-bottom-color:#0;}

button {
	text-align: center;
	width: 180px;
	 background: #8CA9B5; 
	border:1px solid;
   border-top-color:#224488;
   border-left-color:#224488;
   border-right-color:#224488;
   border-bottom-color:#224488;
}

button[disabled] {
	 background: #A0BBC6;
	 color:#4488BB; 
}

button:hover {
	 background: #6698B0; 
	border:1px solid;




button.small {
	text-align: center;
	width: 60px;
	 background: #8CA9B5; 
	border:1px solid;
   border-top-color:#224488;
   border-left-color:#224488;
   border-right-color:#224488;
   border-bottom-color:#224488;
}

button.mail {
	text-align: center;
	width: 80px;
	 background: #aaaaaa; 
	border:1px solid;
   border-top-color:#224488;
   border-left-color:#224488;
   border-right-color:#224488;
   border-bottom-color:#224488;
}

button[disabled].small {
	text-align: center;
	width: 40px;
	color:#4488BB;
	 background: #000000; //66AADD; 
	border:1px solid;
   border-top-color:#224488;
   border-left-color:#224488;
   border-right-color:#224488;
   border-bottom-color:#224488;
}


h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: #000000; }
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; }
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }

a {	text-decoration: underline;	color: #441219;	font-weight: bold; }
a.normal {	text-decoration: underline;	color: #441219;	font-weight: normal; }
a:hover { text-decoration: underline; color: #FF0000; }
.s_head{ font-family: Verdana, Arial, Helvetica, sans-serif;  font-size: 11px;  font-weight: bold; color: #444488; }
a.textwithtooltip { text-decoration: none; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; bgcolor: #444488; }
