/* Constants used in this CSS
 Highlight Hover Color #c2dae3
 Button Background #809da9
*/


p, ul, textarea, button, optgroup, option { 
	font-family: Palatino, serif; 
	font-size: 14px; 
}
 
td {
	font-family: Palatino, serif; 
	font-size: 14px; 
	 padding-top: 4px;
	 padding-bottom: 4px;
	 padding-right: 20px;
}

input { 
	font-family: Palatino, serif; 
	font-size: 14px; 
	color: #000000; 
	padding: 2px 2px 2px 7px;
	border: 1px solid #3c3c3c;
	height: 28px;
}

label {
	color: white;
}


#banner {
	background-color: #732a2a;
	padding-top: 6px;
	padding-bottom: 6px;
	color: white;
	text-align: center;	
}
#banner a {
	color: white;
	text-decoration: underline;
}

select {
   width: 484px;
  
   height: 30px;
   background: url(images/selectmenu.png) no-repeat center right white;
 
  -webkit-appearance: button;
  -webkit-border-radius: 1px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 0px;
  -webkit-user-select: none;
  border: 1px solid #3c3c3c;

	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	white-space: nowrap;  
}

select.filter {
	width: 250px;
}
error {
	color: gray;
}

.mform {
	background-color: #3c3c3c;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

select.list { width: 700px; border: 1px solid;}

div.scrolltable { 
  left: 0px;
/*  height: 400px;*/ 
  overflow: auto; 
   width: 100%;
  float: right; 
} 

div.simplelist {
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	background-color: black; 
}

div.simplelistactions {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 180px;
/*	height: 100%;*/
	border-right: 1px solid black;
	background-color: black;
}


.actionbutton {
	width: 180px;
	padding: 5px 5px 5px 20px;
	height: 40px;
	text-align: left;
	margin: 0px;
	border-bottom: 1px solid black;
	color: black;
	background-color: white;		
	font-style: italic;
	font-size: 15px;
	cursor: hand;
}

.actionbutton[disabled],.actionbutton[disabled]:hover {
	width: 180px;
	padding: 5px 5px 5px 20px;
	height: 40px;
	text-align: left;
	margin: 0px;
	border-bottom: 1px solid black;
	background-color: white;		
	color: #b0b0b0;
	font-style: italic;
	font-size: 15px;

}

.actionbutton:hover {
	width: 180px;
	padding: 5px 5px 5px 20px;
	height: 40px;
	text-align: left;
	margin: 0px;
	border-bottom: 1px solid black;
	background-color: #cccccc;		
	color: black;
	font-style: italic;
	font-size: 15px;

}

div.simplelisttable {
	overflow-x: hidden;
	position: relative;
	max-height: 750px;
	overflow-y: auto;
	margin: 0px;
	padding: 0px; 
	background-color: red;
} 


.rowcount {
	text-align: right;
	color: white;
}

/* Tabular Lists as used in all the main screens */

#filterheader {
	background-color: black;
	height: 39px;
	padding-top: 10px;
	color: white;
/*	padding-left: 184px;*/
	padding-right: 20px;
	text-align: right;
	vertical-align: middle;
	overflow : hidden;
}

#formheader {
	background-color: black;
	color: white;
	height: 39px;
	padding: 10 0 0 20;
	font-size: 16px;	
	font-weight: bold;
	line-height: 28px;
	overflow-y : hidden;
}


table.statements {
	color: white;
}


table.sortable {
	width: 100%;
	background: #FFFFff; 
	border-spacing: 0;
	border-collapse: collapse;
	border-style: hidden;
	overflow: hidden; 
}

table.sortable th, table.sortable td {
	text-align: left;
	padding: 2px 4px 2px 4px;
	border-bottom: 1px solid white;

}

table.sortable th {
	background-color: #3c3c3c;
	height: 39px;
	color: white;
	border-bottom: 1px solid black;
	padding-left: 16px;
	font-family: Palatino, serif; 
}

table.sortable a {
	color: white;
	font-weight: 100;
}
table.sortable td {
	border-right: 1px solid black;
	padding-left: 15px;
	color: black;
}


table.sortable tr.even td {
	background-color: white;
	cursor: hand;
	height: 40px;
}
table.sortable tr.odd td {
	background-color: #e7e7e7;
	cursor: hand;
	height: 40px;
}
table.sortable tr.sortbottom td {
	font-weight: bold;
	height: 40px;
}

table.sortable tr.evenselected td {
	background-color: black;
	cursor: hand;
	color: white;
	height: 40px;
}

table.sortable tr.oddselected td {
	background-color: black;
	cursor: hand;
	color: white;
	height: 40px;
}

td.fixedfield{
	color: white;
}

input.fixed{
	background-color: grey;
}

div.dataview {
 float: right;
 height: 700px;
}


.formtitle {
	font-size: 16px;	
	margin: 2px;
	font-weight: bold;
	display: block;
	line-height: 28px;
}


body { 
	font-family: Palatino, serif; 
font-size: 14px; 
color: #000000;
	background-color: black;
text-align: center; 
 }

* { 
margin:0px; 
padding:0px; 
border: 1px; 

}

#container {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 1200px;
}

#header {
	height: 90px;
	margin: 0px auto;
	background-color: white;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;

/*	background: url('images/MozaicLogo2.jpg') no-repeat top left #758e98; */
}

#status {
	position: relative;
	padding-top: 10px;
	float: right;
}

/* Main content div - info display is held in this */

#main {
	clear:both;
	text-align: justify;
	border: 0px;
	padding: 0px;
	background-color: white; 
	width: 100%;
	margin-right: 0px;
/*	min-height: 495px;*/
	position: relative;
	top: -36px;
}


#actions { 
	position: absolute;
	top: 0px;
	right: 0px;
}

#content {
	margin: 0px auto;
	width: 880px;
	background-color: white;
	text-align: left;
}

#footer {
	height: 20px;
	width: 100%;
	margin: 0px auto;
	border: 0px;
	padding: 0px;
	background: #758e98; 
/*	background: url('images/mozaicfooter.jpg') no-repeat bottom left; */
}

p.main2 { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 20px; 
color: #000000; 
 }




.aspect { padding: 2px 2px 2px 2px; }



.login {
	font-size: 10px;
	color: #00000;
}

.error {
	color: #ff0000;
}




.prop {
    height:500px;
    float:right;
    width:1px;
  }

.clear {
    clear:both;
    height:1px;
    overflow:hidden;
  }


select[disabled]{background: #809da9;
				color:#4488BB;
				border:1px solid;
			   border-top-color:#0;
			   border-left-color:#0;
			   border-right-color:#0;
			   border-bottom-color:#0;}



table.spreadsheet2 { background: #FFFFFF; border: 1px solid; border-spacing: 2px; width: 100%; border-color: #333333; }
table.preview { border: 1px solid; width: 100%; rules: all; }
td.preview { border: 1px solid; }

th { text-align: left; background: #cccccc;}
tr.odd td { background: #e0e0e0; }
tr.selected td { background: #808080; }

table.spreadsheet { background: white; width: 100%; color: black; border: 0px; padding-left: 10px; padding-right: 10px;}
td.spreadsheet { color: black; }

table.previewpane { background: #A0BBC6; width: 180px; border: 1px solid; }
table.mail { background: #FFFFFF; width: 85%; border: 1px solid; border-spacing: 1 px; }



/* Top Level Navigation Bar */
#menu {
	margin: 0px auto;
	border: 0px;
	padding: 0px;
	background-color: white; 
	font-size : 20px;
	float: right;
	position: relative;
	top: -36px;
	width: 1040px;
	text-align: right;
}

#menuwrapper {
}

button.tabnav { 
	background: white; 
	color:#000000;
	width: 90px;
	height: 36px;
	text-align: center;
	padding-left: 5px; 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	margin: 0px;
	border: 0px;
		cursor: hand;

}

button[disabled].tabnav{
	font-weight: bold;
	color: black;
	background-color: white;
	background-image: url('images/triangle.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
		cursor: auto;
}

button[disabled].tabnav:hover{
	background-color: white;
	background-image: url('images/triangle.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}

button.tabnav:hover{
	background-color: #eeeeee; 
}




input.submitsmall { 
	text-align: center;
	background: #909090; 
	border:1px solid black;
}

input.login { 
	text-align: center;
	 background: #809da9; 
	border:1px solid;
   border-top-color:#0;
   border-left-color:#0;
   border-right-color:#0;
   border-bottom-color:#0; }

input.login:hover { 
	text-align: center;
	 background: #c2dae3; 
	border:1px solid;
   border-top-color:#0;
   border-left-color:#0;
   border-right-color:#0;
   border-bottom-color:#0; }

input[disabled].submitsmall{
	background: #66AADD;
	text-align: center;
	color:#4488BB;
	border:2px solid;
	  border-top-color:#0;
	  border-left-color:#0;
	  border-right-color:#0;
	  border-bottom-color:#0;}


/* Form button */

button {
	text-align: center;
/*	width: 140px; */
	height: 30px;
	padding: 2px;
	padding-left: 20px;
	margin-right: 40px;
	padding-right: 20px;
	background: black; 
	color: white;
	border: 0;
}

button.submitback
{
	background: #303030;
}

button[disabled] {
	 color: #677e88; 
}

button[disabled]:hover {
	 background: #809da9; 
}

button:hover {
	 background: #606060; 
}

.formfooter{
	font-style: italic;
	font-weight: 100;
}

button.small {
	text-align: center;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	 background: #aaaaaa; 
	 color: black;
	border:0px;
}

button.clear {
	background: transparent;
	height: 35px;
	padding: 0;
}

button.clear:hover {
	cursor: hand; 
}

.fieldcomment {
	color: white;
	font-style: italic;
}


.simplelistfooter {
	color: white;
	position: relative;
	left: 180px;
}

button.mail {
	text-align: center;
	width: 80px;
	 background: #aaaaaa; 
	border:1px solid;
   border-top-color:#224488;
   border-left-color:#224488;
   border-right-color:#224488;
   border-bottom-color:#224488;
}

button[disabled].small {
	text-align: center;
	width: 40px;
	color:#4488BB;
	 background: #000000; //66AADD; 
	border:1px solid;
   border-top-color:#224488;
   border-left-color:#224488;
   border-right-color:#224488;
   border-bottom-color:#224488;
}




label { font-weight: normal;}

h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: #000000; }
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000; }
h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; }

a {	text-decoration: none;	color: #441219;	font-weight: bold; }
a.normal {	text-decoration: underline;	color: #441219;	font-weight: normal; }
a:hover { text-decoration: underline; color: #FF0000; }
.s_head{ font-family: Verdana, Arial, Helvetica, sans-serif;  font-size: 11px;  font-weight: bold; color: #444488; }
a.textwithtooltip { text-decoration: none; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; bgcolor: #444488; }
