body {
  background-color: #040d2c;
	background-image: url("underwater.jpg");
  	background-repeat: no-repeat;

}

#container {
	width: 100%
	margin: 0 auto;	
	position: relative;
}

* {
	font-family: "Gill Sans", sans-serif;
	font-size: 16px;
	color: white; 
	text-align: justify;
}

#content {
	width: 560px;
	left: 70px;
	position: relative;
	top: 200px;  
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

#buy {
position: relative;
left: 70px;
top: 220px;
margin-bottom: 20px;
padding-bottom: 20px;
}

h1 {
	font-family: "Gill Sans", sans-serif;
	
	background: white;
	color: black;
	padding-left: 10px;
}

#player { 
position: relative;        		
left: 70px;
top : 200px;

		   }

