body {
  background-color: #040d2c;
}

/* Let's get this party started 
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}*/

#container {
	margin: 0 auto;
	position: relative;
	background-image: url("underwater.jpg");
  	background-repeat: no-repeat;
	width: 1200px;
	height: 800px;
}

* {
	font-family: "Gill Sans", sans-serif;
	font-size: 16px;
	color: white; 
	text-align: justify;
}

#content {
	position: absolute;
	width: 560px;
	left: 600px;
	top: 0px;  
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

#buy {
	position: absolute;
	left: 50px;
	bottom: 0px; 
}

h1 {
	font-family: "Gill Sans", sans-serif;
	background: white;
	color: black;
	padding-left: 10px;
}

#player { 
	top: 280px;
	left: 30px;
	position: relative;
	margin-left: 20px;
	margin-bottom: 10px; 
	}

